<div class="container">
  <div class="game-rules-container">
    <p class="game-rules-text">
      <strong>Rules:</strong> For 5 rounds listen to a song sample and guess the
      correct artist it belongs to. For each correct answer, you'll earn 20
      points, with point multipliers based on difficulty.
    </p>

    <p class="game-rules-text">
      <em>Easy mode</em> gives you 1x points, <em>Medium mode</em> gives you 2x
      points, and <em>Hard mode</em> gives you 3x points.
    </p>

    <p class="game-rules-text">
      You win if you answer correctly in more than 3 rounds, but anything less
      and you'll lose.
    </p>

    <p class="game-rules-text">
      At the end, there’s also a leaderboard, so give it your best shot!
    </p>
  </div>
  <app-button [color]="'#4a90e2'" [route]="'/'">Home</app-button>
</div>
